<!DOCTYPE HTML>
<html ng-app="dive">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>
    <script type="text/javascript" charset="utf-8" src="src/EANx.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script>
        var dive = angular.module('dive', ['ui.bootstrap']);
        dive.controller('EANxController', ['$scope', function ($scope) {
            $scope.profile = { depth: 18, ppo2: 1.4, eanx: .21, abt: 20 };

            $scope.calc = function () {
                $scope.profile.ndl = EANx_js.ndl($scope.profile.depth, $scope.profile.eanx);
                $scope.profile.mod = EANx_js.mod($scope.profile.ppo2, $scope.profile.eanx);
                $scope.profile.cns = EANx_js.cns($scope.profile.abt, EANx_js.ppo2($scope.profile.depth, $scope.profile.eanx)) * 100;
            };

            $scope.best_mix = function () {
                $scope.profile.eanx = EANx_js.best_mix($scope.profile.depth, $scope.profile.ppo2);
                $scope.calc();
            };

            $scope.profile.too_long = function () {
                return $scope.profile.abt > $scope.profile.ndl;
            };

            $scope.profile.too_deep = function () {
                return $scope.profile.depth > $scope.profile.mod;
            };

            $scope.profile.remaining_abt = function () {
                return $scope.profile.abt / $scope.profile.ndl * 100;
            };

            $scope.profile.remaining_depth = function () {
                return $scope.profile.depth / $scope.profile.mod * 100;
            };

            $scope.down = function () {
                if ($scope.profile.depth > 0) $scope.profile.depth--;
                $scope.calc();
            };
            $scope.up = function () {
                $scope.profile.depth++;
                $scope.calc();
            };

            $scope.less = function () {
                if ($scope.profile.eanx > 0) $scope.profile.eanx -= 0.01;
                $scope.calc();
            };
            $scope.more = function () {
                if ($scope.profile.eanx <= 1) $scope.profile.eanx += 0.01;
                $scope.calc();
            };

            $scope.shorter = function () {
                if ($scope.profile.abt > 0) $scope.profile.abt--;
                $scope.calc();
            };
            $scope.longer = function () {
                $scope.profile.abt++;
                $scope.calc();
            };

            $scope.calc();
        }]);
    </script>
    <style>
        h1 {
            background-color: #34802b;
            color: yellow;
            padding: 15px;
            text-transform: uppercase;
        }

        input[type=number] {
            border: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            width: 100px;
            height: 50px;
            font-size: 2.5em;
            text-align: center;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>
<body ng-controller="EANxController" align="center">
<div>
    <h2>Recreational</h2>

    <h1>Nitrox</h1>

    <h2>Calculator</h2>

    <fieldset>
        <label>Depth <span class="label label-warning" ng-show="profile.too_deep()">exceeds Maximum Operating Depth!</span></label>
        <button class="btn btn-primary" ng-click="down()">-</button>
        <input type="number" min="0" ng-model="profile.depth" ng-change="calc()"/>
        <button class="btn btn-primary" ng-click="up()">+</button>

        <label>EANx (MOD: <strong>{{ profile.mod }} meters</strong>)</label>
        <button class="btn btn-primary" ng-click="less()">-</button>
        <input type="number" ng-model="profile.eanx" ng-change="calc()" step="0.01"/>
        <button class="btn btn-primary" ng-click="more()">+</button>
        <button ng-repeat="eanx in [.21,.32,.36]" type="button" class="btn btn-primary" ng-change="calc()"
                ng-model="profile.eanx" btn-radio="eanx">{{ eanx }}
        </button>
        <button class="btn btn-primary" ng-click="best_mix()">Best Mix</button>
        <progress percent="profile.remaining_depth()" class="progress-warning progress-striped active"></progress>

        <h5>No Decompression Limit:</h5>

        <h2>{{ profile.ndl }}</h2>
        <h5>minutes</h5>

        <label>Actual Bottom Time <span class="label label-warning" ng-show="profile.too_long()">exceeds No Decompression Limit!</span></label>
        <button class="btn btn-primary" ng-click="shorter()">-</button>
        <input type="number" ng-model="profile.abt" ng-change="calc()"/>
        <button class="btn btn-primary" ng-click="longer()">+</button>
        <progress percent="profile.remaining_abt()" class="progress-warning progress-striped active"></progress>
    </fieldset>

    <fieldset>
        <div class="btn-group">
            <h5>CNS%:</h5>

            <h3>{{ profile.cns | number:1 }}%</h3>

            <label>ppO<sub>2</sub> limit</label>
            <button ng-repeat="ppo2 in [1.4,1.5,1.6]" type="button" class="btn btn-primary" ng-change="calc()"
                    ng-model="profile.ppo2" btn-radio="ppo2">{{ ppo2 }}
            </button>
        </div>
    </fieldset>
</div>

</body>
</html>
